# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscheme
*.app
Stand_and_Stare_Kiosk_OSX/bin/data/videos/Opening.loop.mp4
Stand_and_Stare_Kiosk_OSX/bin/data/videos/burns.mp4
Stand_and_Stare_Kiosk_OSX/bin/data/videos/co.mp4
Stand_and_Stare_Kiosk_OSX/bin/data/videos/despard.mp4
Stand_and_Stare_Kiosk_OSX/bin/data/videos/doris.mp4
Stand_and_Stare_Kiosk_OSX/bin/data/videos/protests.mp4
Stand_and_Stare_Kiosk_OSX/bin/data/videos/red.mp4
Stand_and_Stare_Kiosk_Audio_OSX/bin/data/audio/Keep.mp3
Stand_and_Stare_Kiosk_Audio_OSX/bin/data/audio/Vibrator.mp3
Stand_and_Stare_Kiosk_Audio_OSX/bin/data/audio/Vulnerable.mp3
Stand_and_Stare_Kiosk_Audio_RPi/bin/data/audio/Keep.mp3
Stand_and_Stare_Kiosk_Audio_RPi/bin/data/audio/Vibrator.mp3
Stand_and_Stare_Kiosk_Audio_RPi/bin/data/audio/Vulnerable.mp3
Stand_and_Stare_Kiosk_Stripped/bin/data/videos/Opening.loop.mp4
Stand_and_Stare_Kiosk_Stripped/bin/data/videos/burns.mp4
Stand_and_Stare_Kiosk_Stripped/bin/data/videos/co.mp4
Stand_and_Stare_Kiosk_Stripped/bin/data/videos/despard.mp4
Stand_and_Stare_Kiosk_Stripped/bin/data/videos/doris.mp4
Stand_and_Stare_Kiosk_Stripped/bin/data/videos/protests.mp4
red.mp4
